# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/simulate.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/tb.tcl
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/tb_behav.wdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/tb_vhdl.prj
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/tb_vlog.prj
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xelab.pb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/gaisler/gaisler.rlx
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/gaisler/misc.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/grlib/amba.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/grlib/config.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/grlib/config_types.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/grlib/devices.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/grlib/grlib.rlx
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/grlib/stdlib.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/grlib/version.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/Compile_Options.txt
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/obj/xsim_1.c
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/TempBreakPointFile.txt
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/webtalk/.xsim_webtallk.info
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/webtalk/usage_statistics_ext_xsim.html
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/webtalk/usage_statistics_ext_xsim.xml
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.dbg
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.mem
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.reloc
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.rlx
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.rtti
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.svtype
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.type
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.xdbg
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsimcrash.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsimkernel.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/techmap/gencomp.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/techmap/techmap.rlx
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/work/grgpio.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/work/grgpio_wrp.vdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/work/work.rlx
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tb.sdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.ini
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xvhdl.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xvhdl.pb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xvlog.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xvlog.pb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.xpr
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.cache/wt/gui_handlers.wdf
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.cache/wt/java_command_handlers.wdf
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.cache/wt/project.wpc
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.cache/wt/webtalk_pa.xml
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.cache/wt/xsim.wdf
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.hw/def_prj.lpr
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.ip_user_files/README.txt
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/compile.bat
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/compile.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/elaborate.bat
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/elaborate.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/glbl.v
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/simulate.bat
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_1912.backup.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_1912.backup.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/webtalk/usage_statistics_ext_xsim.wdm
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/webtalk/xsim_webtalk.tcl
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsimSettings.ini
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/apb_if.sdb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.cache/wt/synthesis.wdf
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/.jobs/vrs_config_1.xml
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/.vivado.begin.rst
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/.vivado.error.rst
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/.Vivado_Synthesis.queue.rst
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/__synthesis_is_running__
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/gen_run.xml
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/htr.txt
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/ISEWrap.js
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/ISEWrap.sh
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/job.id.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/project.wdf
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/rundef.js
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/runme.bat
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/runme.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/runme.sh
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/tb.tcl
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/tb.vds
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/vivado.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.runs/synth_1/vivado.pb
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_13556.backup.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_13556.backup.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_33324.backup.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_33324.backup.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_5644.backup.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_5644.backup.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_7756.backup.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_7756.backup.log
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_9680.backup.jou
hard/src/grlib/lib/gaisler/misc/grgpio/work/def_prj/def_prj.sim/sim_1/behav/xsim/webtalk_9680.backup.log
hard/src/sim/apb_if.sv
hard/src/sim/apb_if.sv
